@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* In addition to max width scale */
    max-w-8xl {
        max-width: 90rem;
    }

    /* In addition to padding scale */
    p-4 {
        padding: '1rem';
    }
}

[x-cloak] {
    display: none;
}
